.weather-card {
  background: #4463d5;
  padding: 16px;
  border-radius: 24px;
  text-align: center;
  width: 328px;
}

.today-weather-info {
  margin: 24px 0;
}

.today-weather,
.humidity p,
.min-max p {
  font-size: 16px;
  font-weight: 600;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
  margin: -10px 0 5px 0;
  line-height: 100%;
}

.condition {
  font-size: 13px;
  margin: 0;
}

.humidity,
.min-max {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.humidity {
  margin-bottom: 16px;
}

.humidity div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.min-max div {
  display: flex;
  gap: 8px;
  align-items: center;
}
